.main{
    display: flex;
    flex-direction: column;
    height: 1410px;
    width: 1240px;
    align-items: center;
    justify-content: space-around;
}
.cabecera{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 5%;
    flex-wrap: nowrap;
    /* background-color: bisque; */
    justify-content: flex-end;
    font-size: larger;
    font-weight: 700;
}
.titulo{
    display: flex;
    flex-direction: column;
    width: 65%;
    border: solid orangered;
    height: 3%;
    border-radius: 20px;
    /* margin: 0px; */
    color: darkorange;
    justify-content: center;
    align-items: center;
}
.cabTitulo{
    display: flex;
    height: 98%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #cce5ff;
    width: 100%;
}
.cabTituloDet{
    display: flex;
}
.cuerpo{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #69ff1c;
    height: 45%;
    align-items: center;
}
.cuerpo1{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: goldenrod;
    height: 50%;
    align-items: center;
    justify-content: space-around;
}
.cuerpo2{
    height: 80%;
    display: flex;
    width: 100%;
    /* align-content: flex-end; */
    flex-direction: column;
    align-items: center;
}
.valor{
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-around;
    color: mediumseagreen;
    font-weight: 700;
}
.img_rec{
    border-radius: 10px;
    width: 60%;
    height: 95%;
    /* border-bottom-color: #FF1CA5; */
    border: solid 5px #f7f7f7;
}

.detalle{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: center;
    background-color: #cce5ff;
}

.detalle2{
    display: flex;
}
.rayaRosa{
    width: 100%;
    height: 15px;
    background: #ff4a3c;
    /* position: relative;
    top: 15px; */
}
.rayaPurpura{
    width: 100%;
    height: 5px;
    background: #ff1ca6
    
}
.rayaNaranja{
    width: 100%;
    height: 5px;
    background: #ff8100;
    /* top: 16px; */
    /* position: relative; */
}
.cuerpoP1{
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
    background-color: bisque;
}
.cuerpoP2{
    display: flex;
    width: 75%;
    height: 100%;
    align-items: center;
    background-color: floralwhite;
    justify-content: space-evenly;
    flex-direction: column;
}

.cuerpo3{
    display: contents;
}
.resumen{
    display: flex;
    flex-direction: column;
    /* align-content: stretch; */
    /* justify-content: space-around; */
    width: 100%;
}
.detalle1{
    display: flex;
    flex-direction: column;
    /* BACKGROUND-COLOR: aquamarine; */
    WIDTH: 99%;
    height: 100%;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}
.subDetalle1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.subDetalle2{
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    align-items: center;
    justify-content: space-between;
    height: 25px;
}
.subDetalle3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    /* background-color: beige; */
    align-content: stretch;
}