.main{
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 1240px;
    align-items: center;
    justify-content: space-around;
    background-color: #69ff1c;
}
.cabecera{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 5%;
    flex-wrap: nowrap;
    background-color: bisque;
    justify-content: flex-end;
}
.titulo{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: solid orangered;
    height: 3%;
    border-radius: 9px;
    /* margin: 0px; */
    color: darkorange;
    justify-content: center;
    align-items: center;
}
.cabTitulo{
    display: flex;
    height: 98%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: khaki;
    width: 100%;
}
.cabTituloDet{
    display: flex;
}
.cuerpo{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #69ff1c;
    height: 45%;
    align-items: center;
}
.cuerpo1{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: red;
    height: 40%;
    align-items: center;
    justify-content: space-around;
}
.cuerpo2{
    height: 80%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.img_rec{
    
    border-radius: 10px;
    width: 40%;
    height: 75%;
    border-bottom-color: #FF1CA5;
    border: solid 5px #f7f7f7;
}

.detalle{
    display: flex;
    flex-direction: row;
    background-color: #ff8100;
    width: 100%;
    height: 50%;
    justify-content: center;
}
.detalle1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-content: space-around; */
    BACKGROUND-COLOR: antiquewhite;
    justify-content: space-evenly;
    WIDTH: 95%;
}
.detalle2{
    display: flex;
}
.rayaRosa{
    width: 100%;
    height: 15px;
    background: #ff4a3c;
    /* position: relative;
    top: 15px; */
}
.rayaPurpura{
    width: 100%;
    height: 5px;
    background: #ff1ca6
    
}
.rayaNaranja{
    width: 100%;
    height: 5px;
    background: #ff8100;
    /* top: 16px; */
    /* position: relative; */
}
.cuerpoP1{
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
    background-color: #8d195f;
}
.cuerpoP2{
    display: flex;
    width: 75%;
    height: 100%;
    align-items: center;
    /* background-color: blue; */
    justify-content: space-evenly;
    flex-direction: column;
}

.cuerpo3{
    display: flex;
    flex-direction: column;
    width: 98%;
    /* height: 184%; */
    align-items: flex-start;
    justify-content: flex-start;
}
.resumen{
    display: flex;
    flex-direction: column;
    /* align-content: stretch; */
    /* justify-content: space-around; */
    width: 100%;
}