.main{
    display: flex;
    width: 100%;
    /* font-size: 193px; */
    border: solid;
    color: black 2px;
    border-radius: 12px;
    height: 154px;
    font-weight: 700;
    border: solid 1px;
    /* margin: 10px; */
    padding: 7px;
    flex-direction: column;
    align-items: center;
}
.navegacion{
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;
   
}
.inputT{
    display: flex;
    height: 33px;
    width: 33px;
    font-size: 18px;
}
.filtro{
    display: flex;
    height: 33px;
    width: 100%;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
}
.spamerror{
    display: flex;
    color: red;
    font-weight: 700;
    font-size: 10px;
    margin: 3px;
    padding: 0px;
    justify-content: flex-start;
}