.main{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* font-size: 231px; */
    /* border: solid; */
    color: black 2px;
    border-radius: 7px;
    height: 50px;
    font-weight: 700;
    border: solid 4px;
    align-items: center;
}
.navegacion{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;
   
}
.inputT{
    display: flex;
    height: 33px;
    width: 33px;
    font-size: 18px;
}
.filtro{
    display: flex;
    height: 33px;
    width: 356px;
    font-size: 20px;
}