.main{
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.filtros{
    display: flex;
    
    align-content: center;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}
.tarjetas{
    display: flex;
    /* background-color: yellow; */
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.cabecera{
    display: flex;
    background-color: blue;
}
.detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    flex-wrap: nowrap;

}