.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    border: solid red;
    margin: 5px;
    color: red;
    font-size: 28px;
    font-weight: 700;
    font-family: initial;
}
.detalle{
    display: flex;
    background-image: url(no\ found.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    height: 400px;
    width: 500px;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    color: darkorange;
}