
.main{
    /* Web */


position: relative;
width: 1440px;
height: 1900px;

background: #000000;
}
.parte1
{
    /* Parte 1 */
position: absolute;
width: 1440px;
height: 655px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), 
url(images/pexels-roman-odintsov-4551832.jpg) ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parte2{
/* parte2 */


position: absolute;
width: 1440px;
height: 297px;
left: 0px;
top: 586px;

background: #FFFFFF;
opacity: 0.67;
}

.parte2Cuerpo{
    /* TITULO DIS2 */
position: absolute;
width: 823px;
height: 284px;
left: 313px;
top: 514px;
}
.subtitulo{
    position: relative;
    width: 489px;
    height: 45.61px;
    top: 12px;
    left: 470px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.50em;
    color: #F41010;
}
.raya1{
    position: absolute;
    width: 550px;
    height: 0px;
    left: 425px;
    top: 269px;
    border: 4px solid #F41010;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.raya2{
    position: absolute;
    width: 550px;
    height: 0px;
    left: 425px;
    top: -10px;
    border: 4px solid #F41010;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.cuerpo{
position: absolute;
width: 823px;
height: 155px;
left: 313px;
top: 672px;
 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 31px;
line-height: 31px;
display: flex;
align-items: center;
text-align: justify;
    
color: #FFFFFF;

}
.parte3{
    /* parte 3 */


position: absolute;
width: 1440px;
height: 776px;
left: 0px;
top: 871px;

background: #D9D9D9;
opacity: 0.2;
}
.parte4{
/* parte4 */


box-sizing: border-box;

position: absolute;
width: 1440px;
height: 133px;
left: 0px;
top: 1767px;

background: #D9D9D9;
border: 1px solid #AC1313;
}
.navbar{
    position: absolute;
width: 1388px;
height: 59.45px;
left: 22px;
top: 13px;

}
.navmenu1{
/* Home */


position: absolute;
width: 180px;
height: 31.82px;
left: 648px;
top: 6px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #F41010;
}

.navmenu2{
/* form */


position: absolute;
width: 180px;
height: 32px;
left: 841px;
top: 6px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;

}
.navmenu3{
/* Contacto */


position: absolute;
width: 180px;
height: 32px;
left: 1034px;
top: 6px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;
}
.navmenu4{
/* Acerca de */


position: absolute;
width: 180px;
height: 32px;
left: 1227px;
top: 6px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;
}


.titulo1{
    /* Recetario Virtual */
position: absolute;
width: 300px;
height: 223.04px;
left: 380px;
top: 202px;

font-family: 'Black Ops One';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 120px;
display: flex;
align-items: center;
text-align: center;

color: #FFFEFE;
}
.titulo2{
    position: absolute;
    width: 270px;
    height: 153.04px;
    left: 780px;
    top: 232px;
    font-family: 'Black Ops One';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #D9D9D9;
    color: #FFFEFE;
}
.boton1{
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 58px;
    left: 610px;
    top: 508px;
    background: #000000;
    mix-blend-mode: normal;
    border: 3px solid #FFFEFE;
    display: flex;
    align-items: center;
}
.boton1text{
    position: absolute;
    width: 187px;
    height: 29px;
    /* left: 631px; */
    /* top: 431px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    /* z-index: 10; */
    color: #FFFFFF;
    justify-content: center;
}